<select [(ngModel)]="model">
    <option selected="selected" disabled>Player...</option>
    <option *ngFor="let player of filterByPosition('Goalkeeper')" [ngValue]="player">{{ player.web_name }}</option>
    <!-- <option *ngFor="let player of players" [ngValue]="player">{{ player.web_name }}</option> -->
</select>

<select [(ngModel)]="model">
    <option selected="selected" disabled>Position...</option>
    <option *ngFor="let position of positions" [ngValue]="position">{{ position.singular_name }}</option>
</select>