.pitch {
    background-image: url('/assets/svg/pitch.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.pitch .row {
    padding: 8%;
}

.pitch .selected-player {
    color: white;
    height: 0;
    margin: 0;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.pitch select {
    background: transparent;
    border-color: white;
    color: white;
}

.pitch select, .bench select {
    width: 80%;
}

.bankrupt {
    color: red;
}